body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: url(https://cdn.custom-cursor.com/db/7599/32/stain-of-paint-pointer.png), pointer!important;
    background-image: url(https://cdn.shopify.com/s/files/1/0108/8225/2863/products/shopify_59ecb8cc-498b-4171-8368-6ab78e2f36b1.jpg?v=1669844825);   
}
  /*-------------*/
 /* Titulo 2048 */
/*-------------*/ 
.encabezados, .titulo{
    display: flex;
    font-size: 60px;
    font-weight: bold;
    margin-right: 35px;
    color: rgb(141, 36, 36);
    justify-content: center;
}

  /*---------------------------------*/
 /* Contenedores de puntaje y mejor */
/*---------------------------------*/ 
.puntaje, .mejor{
    height: 25px;
    color: white;
    font-size: 25px;
    margin-top: 40px;
    line-height: 50px;
    border-radius: 4px;
    padding: 15px 25px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    background: rgba(175, 97, 97, 0.772);
}



.puntaje::after{
    content: "Puntaje";
}

.mejor::after{
    content: "Mejor";
}

.puntaje::after, .mejor::after{
    left: 0;
    top: -10px;
    width: 100%;
    font-size: 12px;
    position: absolute;
}


/*----------------*/
/* Ganar y perder */
/*----------------*/ 
.ganar_Perder.active{
    visibility: visible;
}

.ganar_Perder{
    left: 260px;
    bottom: 330px;
    width:  400px;
    height: 400px;
    flex-wrap: wrap;
    font-weight: bold;
    visibility: hidden;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    transition: .3s ease all;
    box-shadow: 0px 0px 5px 0px rgb(0,0,0,0.3);
    background: rgba(169, 103, 103, 0.507);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.perder{
    top: 170px;
    left: 130px;
    position: absolute; 
    visibility: hidden;   
}

.ganar{
    top: 170px;
    left: 130px;
    position: absolute;
    visibility: hidden;
}

  /*-------------------------------*/
 /* Botones de reinicio y resumen */
/*-------------------------------*/ 
.reinicio, .resumen{
    padding: 10px;
    bottom: 28PX;
    display: flex;
    color: white;
    border: 1px solid;
    position: relative;
    margin-left: 20px;
    margin-right: 45px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(141, 36, 36);
}

.reinicio:hover, .resumen:hover{
    color: white;
    background-color: rgb(179, 97, 97); 
}

  /*-----------------*/
 /* Ventana Resumen */
/*-----------------*/

.overlay.active{
    visibility: visible;
}

.overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0,.3);   
}

.popup{
    opacity: 0;
    width: 600px;
    padding: 20px;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
    transform: scale(0.7);
    transition: .3s ease all;
    box-shadow: 0px 0px 5px 0px rgb(0,0,0,0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://cdn.shopify.com/s/files/1/0108/8225/2863/products/shopify_59ecb8cc-498b-4171-8368-6ab78e2f36b1.jpg?v=1669844825);   
}

.popup .btn_cerrar{
    display: block;
    font-size: 16px;
    color: #888888;
    line-height: 16px;
    text-align: right;
    transition: .3s ease all;
}

.popup .btn_cerrar:hover{
    color: #000;
}

h2{
    color: rgb(141, 36, 36);
}

.total_piezas, .total_movimientos, .total_tiempo{
    height: 25px;
    padding: 40px;
    color: white;
    font-size: 25px;
    line-height: 50px;
    margin-left: 15px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    background: rgba(175, 97, 97, 0.772);    
}

.total_piezas::after{
    content: "Total Piezas";
}

.total_tiempo::after{
    content: "Tiempo Total";
}

.total_movimientos::after{
    content: "Movimientos";
}

.total_piezas::after, .total_movimientos::after, .total_tiempo::after{
    left: 0;
    top: -10px;
    width: 100%;
    font-size: 11px;
    position: absolute;
}
  /*-----------------*/
 /* Animacion Popup */
/*-----------------*/
.popup.active{opacity: 1; transform: scale(1);}

  /*----------*/
 /* Tablero */
/*--------*/
#tablero {
    width:  400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: rgba(175, 97, 97, 0.772);
    border: 8px solid rgba(224, 156, 156, 0.738);
}

.recuadro {
    width:  88.8px;
    height: 88.8px;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: 6px solid rgba(224, 156, 156, 0.738);
}

  /*----------------------------*/
 /* Cuadros o piezas del juego */
/*----------------------------*/
.n2 {
    background-color: rgba(255, 209, 209, 0.738);
    color: rgb(243, 243, 243);
}

.n4 {
    background-color: rgba(255, 166, 166, 0.738);
    color: rgb(243, 243, 243);
}

.n8 {
    background-color: rgba(246, 122, 122, 0.896);
    color: rgb(255, 255, 255);
}

.n16 {
    background-color: rgba(255, 115, 115, 0.896);
    color: rgb(255, 255, 255);
}

.n32 {
    background-color: rgba(255, 104, 104, 0.896);
    color: rgb(255, 255, 255);
}

.n64 {
    background-color: rgba(240, 88, 88, 0.896);
    color: rgb(255, 255, 255);
}

.n126 {
    background-color: rgba(216, 75, 75, 0.896);
    color: rgb(255, 255, 255);
}

.n256 {
    background-color: rgba(210, 62, 62, 0.896);
    color: rgb(255, 255, 255);
}

.n512 {
    background-color: rgba(207, 43, 43, 0.896);
    color: rgb(255, 255, 255);
}

.n1024 {
    background-color: rgba(180, 37, 37, 0.935);
    color: rgb(255, 255, 255);
}

.n2048 {
    background-color: rgba(154, 27, 27, 0.935);
    color: rgb(255, 255, 255);
}

.n4096 {
    background-color: rgba(120, 21, 21, 0.935);
    color: rgb(255, 255, 255);
}

.n8192 {
    background-color: rgb(104, 21, 21);
    color: rgb(255, 255, 255);
}